<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MKDataBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2731723B1E14E3F7007F3EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273172541E14E3F8007F3EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2731725F1E14E3F8007F3EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
